.App {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.btn {
  font-family: "Courier New", Courier, monospace;
  background-color: blue;
  margin-right: 5px;
  padding: 5px;
  color: white;
  font-size: 20px;
}

p {
  font-size: 30px;
}
